<% provide(:title, "Help") %>

<title><%= yield(:title) %> | Ruby on Rails Tutorial Sample App</title>
<h1>Help</h1>
<p>
Get help on the Ruby on Rails Tutorial at the
To get help on this sample app, see the
<a href="https://www.railstutorial.orgƒbook"><em>Ruby on Rails Tutorial</em> book</a>.
</p>
